<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
<div>
    <h2>Transactions Summary</h2>
    <div>
        <div>{{.balance}}</div>

        <div>
            <h3>Group By Month</h3>
            {{range .group}}
            <div>{{.}}</div>
            {{end}}
        </div>

        <div>
            <h3>Average By Type</h3>
            {{range .average}}
            <div>{{.}}</div>
            {{end}}
        </div>
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9ijOl7Q8d1bM6ipp05cuDKueVa-gQl6sdQE42x3qlWw&s">
    </div>
</div>
</body>
</html>